@import "../abstracts/variables.scss";

.createchungtu {
	width: 100%;

	.title {
		font-size: 40px;
		font-weight: 700;
		color: rgb(63, 63, 63);
	}

	.search {
		display: flex;

		.input {
			width: 200px;

			&:first-child {
				margin-right: 10px;
			}
		}

		.button {
			margin-left: 15px;
			color: $title-color;
			background-color: #f6ded8;

			&:hover {
				border-color: $title-color;
				color: $title-color;
			}
		}
	}

	.container {
		margin-top: 20px;
	}
}
