@import "../abstracts/variables.scss";

.DTCT {
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    .top {
        flex: 2;
        display: flex;
    }

    .bottom {
        flex: 1;
        margin-top: 15px;
        display: flex;
    }
}