@import "../abstracts/variables.scss";

.loading {
    position: absolute;
    z-index: 999;
    background-color: rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 

    .outer-line {
        border-left: 10px solid #ffc801;
        border-radius: 100%;
        padding: 5px;
        animation: rotate 1s infinite;

        .inner-line {
            border-right: 10px solid black;
            border-radius: 100%;
            padding: 5px;
            animation: rotate 2s infinite;

            .logo{
                width: 50px;
                animation: rotate 15s infinite;
            }
        }
    }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}