@import "../abstracts/mixins";

.pageformchungtu {
	padding: 0 5%;

	.title {
		text-align: center;
		transition: all 0.5s ease;

		@include breakpoint-down(smallphone) {
			font-size: 24px;
			margin-top: 40px;
		}
	}

	.steps {
		display: flex;
		gap: 12px;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		margin-bottom: 20px;
		transition: all 0.5s ease;

		@include breakpoint-down(phone) {
			font-size: 18px;
		}

		@include breakpoint-down(smallphone) {
			font-size: 14px;
			gap: 4px;
		}
	}

	.steps > .checkpoint {
		display: flex;
		gap: 8px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.steps > .checkpoint > .icon--success {
		font-size: 26px;
		transition: all 0.5s ease;
		border-radius: 100%;
		color: rgb(0, 250, 75);
		box-shadow: 0px 0px 30px 10px rgba(0, 250, 75, 0.4);
	}

	.steps > .checkpoint > .icon {
		font-size: 26px;
		border-radius: 100%;
		color: #ccc;
		background-color: #eee;
		box-shadow: 0px 0px 15px #eee;
		transition: all 1s ease;

		@include breakpoint-down(smallphone) {
			font-size: 20px;
		}
	}

	.steps > .checkpoint > .text {
		color: #ccc;
		font-weight: 700;
		transition: all 1s ease;
	}

	.steps > .checkpoint.--active > .icon {
		color: rgb(0, 117, 250, 0.8);
		background-color: rgb(221, 236, 252);
		box-shadow: 0px 0px 30px 10px rgb(0, 117, 250, 0.4);
	}

	.steps > .checkpoint.--active > .text {
		color: rgb(0, 117, 250, 0.8);
		font-weight: 700;
	}

	.steps > .line {
		width: 200px;
		height: 2px;
		background-color: #ccc;
		transition: all 0.5s ease;

		@include breakpoint-down(phone) {
			width: 150px;
		}

		@include breakpoint-down(smallphone) {
			width: 100px;
		}

		@include breakpoint-down(mediumphone) {
			width: 50px;
		}
	}

	.steps > .line.--active {
		background-color: rgb(97, 170, 253);
		box-shadow: 0px 0px 30px 2px rgb(0, 117, 250, 0.4);
	}

	.btn-box {
		display: flex;
		.button {
			padding: 12px 20px;
			font-size: 16px;
			bottom: 20px;
			font-weight: 600;
			background-color: #1677ff;
			color: white;
			border: none;
			border-radius: 6px;
			opacity: 0.7;
			transition: all 0.5s ease;

			@include breakpoint-down(phone) {
				font-size: 14px;
				padding: 16px 20px;
			}

			@include breakpoint-down(smallphone) {
				padding: 10px 12px;
			}

			&:hover {
				opacity: 1;
				cursor: pointer;
			}
		}
	}
}
