.AMS-formnguoiduyet {
	border-radius: 12px;
	font-size: 22px;
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	gap: 80px;
	transition: all 0.5s ease;

	@include breakpoint-down(desktop) {
		grid-template-columns: auto;
	}
	@include breakpoint-down(smalldesktop) {
		flex-direction: column;
		padding-bottom: 50px;
	}

	.nguoiduyet {
		align-items: center;
		display: flex;
		transition: all 0.5s ease;

		@include breakpoint-down(smallphone) {
			flex-direction: column;
			gap: 8px;
		}
	}

	.nguoiduyet > .label {
		display: inline-block;
		min-width: 140px;
	}

	.nguoiduyet > .list {
		font-size: 20px;
		padding: 2px;
		padding-right: 8px;
		width: 200px;
		margin: auto;
		@include breakpoint-down(phone) {
			padding-right: 0px;
			font-size: 18px;
			width: 100px;
		}
	}

	.nguoiduyet > .list > .item {
		font-size: 16px;
		padding: 29px;
		text-align: center;

		@include breakpoint-down(phone) {
			padding-right: 0px;
			font-size: 16px;
			width: 100px;
		}
	}
}
