@import "../abstracts/variables.scss";

header {
	background-color: $primary-color;
	height: 80px;
	padding: 0 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > .left-side,
header > .left-side > .home,
header > .left-side > nav,
header > .left-side > nav > .list {
	display: flex;
	cursor: pointer;
}

header > .left-side > .home > h3 {
	font-size: 25px;
}

header > .left-side > nav > .list{
	font-size: 18px;
}

header > .left-side > .home {
	align-items: center;
}

header > .left-side > .home > h3 {
	margin-left: 5px;
	color: $title-color;
}

header > .left-side > nav {
	align-items: center;
}

header > .left-side > nav > .list {
	list-style-type: none;
}

header > .left-side > nav > .list > .item {
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid rgba(0, 0, 0, 0.3);
}

header > .right-side > .anticon {
	margin: 0 10px;
	cursor: pointer;
}
