@import "../abstracts/variables.scss";

header {
	background-color: $primary-color;
	height: 80px;
	padding: 0 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > .left-side,
header > .left-side > .home,
header > .left-side > nav,
header > .left-side > nav > .list {
	display: flex;
	cursor: pointer;
}

header > .left-side > .home > h3 {
	font-size: 25px;
}

header > .left-side > nav > .list {
	font-size: 18px;
}

header > .left-side > .home {
	align-items: center;
}

header > .left-side > .home > h3 {
	margin-left: 5px;
	color: $title-color;
}

header > .left-side > nav {
	align-items: center;
}

header > .left-side > nav > .list {
	list-style-type: none;
}

header > .left-side > nav > .list > .item {
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid rgba(0, 0, 0, 0.3);
}

header > .right-side {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}
header > .right-side > .icon,
header > .right-side > .user > .icon {
	padding: 6px;
	border-radius: 100%;
	&:hover {
		cursor: pointer;
		background-color: black;
		color: white;
	}
}

header > .right-side > .user {
	position: relative;
	&:hover > .list {
		display: block;
	}
}

header > .right-side > .user > .list {
	position: absolute;
	background-color: white;
	right: 0;
	top: 120%;
	width: 120px;
	box-shadow: 0 0 10px gray;
	border-radius: 8px;
	display: none;
	z-index: 10;

	&::after {
		content: "";
		position: inherit;
		top: -10px;
		left: 0;
		width: 100%;
		height: 10px;
	}
}

header > .right-side > .user > .list > .item {
	padding: 12px 6px;
	text-align: center;
	&:first-child {
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
	}
	&:last-child {
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
	}
	&:hover {
		cursor: pointer;
		background-color: #eee;
	}
}
