@import "../abstracts/variables.scss";

.tracklog {
	margin-top: auto;
	display: flex;
	flex-direction: column-reverse;
	flex: 1;
	justify-content: end;
	max-height: 280px;
	overflow-y: auto;
	scroll-behavior: smooth; /* Thêm hiệu ứng cuộn mượt */
	scroll-snap-align: end;

	.chitiet {
		border-left: 1px solid rgba($color: #000000, $alpha: 0.4);
		margin: 10px;
		padding-left: 20px;
		color: rgba($color: #000000, $alpha: 0.4);
	}

	.dongy {
		color: #00ff00;
		display: flex;
		align-items: center;
		margin: 5px 0;

		.green {
			color: #00ff00;
		}

		.noidung {
			margin-left: 10px;
		}

		&:not(:first-child) {
			margin-left: 3px;
		}
	}

	.tuchoi {
		color: #ff0000;
		display: flex;
		align-items: center;
		margin: 5px 0;

		.noidung {
			margin-left: 10px;
		}

		&:not(:first-child) {
			margin-left: 3px;
		}
	}

	.dahuy {
		color: rgba($color: #000000, $alpha: 0.6);
		display: flex;
		align-items: center;
		margin: 5px 0;

		.noidung {
			margin-left: 10px;
		}

		&:not(:first-child) {
			margin-left: 3px;
		}
	}

	.latest {
		display: flex;
		align-items: center;
		margin: 5px 0;

		.noidung {
			margin-left: 10px;
		}

		&:not(:first-child) {
			margin-left: 3px;
		}
	}
}
